<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <h1>
        <a href="{% url 'admin:index' %}" target="blank">Link To Admin</a>
    </h1>
    <div>
        <form action="{% url 'accouts:profile' %}" method="POST">
            {% csrf_token %} {{forms.as_p}}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>

</html>